
        
        body {
			height: 100%;
			position: relative;
		}
		.box {
			background-color: gray;
			color: red;
		}

		.saleImage {
            position: absolute;
            top: 0;
            right: 0;
            z-index: 200;
		}

		#header {
			text-align: center;
			
			height: 100px;
			background-color: #666;
		}

		h1 {
			padding-top: 20px;
		}

		#footer {
			position: fixed;
			bottom: 0;
			width: 100%;
			text-align: center;
			background-color: #666;
			
		}
		
		#column1 {
		    width: 50%;
		    display: inline-block;
		    position: absolute;
		}
		
		p {
		    padding: 30px;
		}
		
		#column2 {
		    width: 50%;
		    display: inline-block;
		    position: absolute;
		    right: 0;
		}
		#container {
		    width: 100%;
		}